* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-image: url("../src/assets/3abcd1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#intro {
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  color: #cccccc;
  box-shadow: 0 0 10px rgba(59, 57, 57, 0.2);
  font-size: 200%;
}
#first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section {
  height: 100vh;
}

h1,
p {
  margin: 0;
}
